[submodule "lib/cryptosuite2"]
	path = lib/cryptosuite2
	url = git@github.com:StarGate01/cryptosuite2.git
[submodule "lib/tiny-AES-c"]
	path = lib/tiny-AES-c
	url = git@github.com:StarGate01/tiny-AES-c.git
